# --- INFRASTRUCTURE (DOCKER) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=eventura_db
POSTGRES_PORT=5432
# L'hôte est "db" car c'est le nom du service dans docker-compose
DATABASE_URL=postgresql://admin:password@db:5432/eventura_db

# --- BACKEND (NESTJS) ---
PORT_BACKEND=3000
# Clé secrète pour signer les jetons JWT. Très critique pour la sécurité
JWT_SECRET=generate_a_complex_random_string_here
JWT_EXPIRATION=3600s

# --- FRONTEND (NEXT.JS) ---
PORT_FRONTEND=3001
# URL de l'API pour que le Front puisse appeler le Back
NEXT_PUBLIC_API_URL=http://localhost:3000